*{
    margin: 0px;
    padding: 0px;

}
    
    /*body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }*/

    .tablaOdListar{
        margin-left: 110px;
    }

    table {
      width: 50%;
      border-collapse: collapse;
      margin-top: 20px;
      
    }

    th, td {
      border: 1px solid #ddd;
      padding: 5px;
      text-align: left;
    }

    .btnListar{
      padding: 5px;
      margin-top: 60px;
      font-size: 16px;
      border-radius: 10px;
      width: 10%;
      cursor: pointer;
      background-color: #d3d2d1;
    }

