* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Be Vietnam Pro', sans-serif;
}  

.cabecera{
    display: flex;
    background-color: rgb(59, 59, 59);
    justify-content: space-around;
    padding: 40px;
    align-items: center;
} 

.menu{
  text-align: center;
  justify-content: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(96, 100, 100);
   
}

.nav1{
  padding: 20px;
  color: white;
}

.subtitulo{
  padding: 10px;
}

h1{
    font-size: 25px;
    color: white;
}

h2{
  color: black;
  padding: 10px;
}

.formregistro{
  padding: 1px;
}

form {
    background-color: white;
    width: 500px;
    padding: 2em;
    margin: 2em auto;
    border-radius: .2em;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 100%;
    border: none;
    border: 2px solid rgb(153, 150, 150);
    margin-top: 1em;
    box-sizing: border-box;
    padding: 1em;
  }

  button{
    padding: 5px;
    margin-top: 60px;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
  }

  label{
    margin-top: 30px;
  }

  input{
    margin-top: 10px;
  }
