* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
body::-webkit-scrollbar {
  width: 20px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #B6BBC4;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #F0ECE5;    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
  border: 3px solid  #B6BBC4 ;  /* creates padding around scroll thumb */
}

.cabecera{
    display: flex;
    background-color: #31304D;
    justify-content: space-around;
    padding: 1px;
    align-items: center;
}
img{
  width: 20rem;
} 
#fotoMain{
  width: 100%;
  opacity: 40%;
}

/*main::before {*/
  .html{
  content: ""; /* Añade contenido al pseudo-elemento */
  position: fixed; /* Establece posición fija para cubrir toda la ventana */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../image/radiografia.jpg"); /* Reemplaza 'nombre-de-tu-imagen.jpg' con el nombre de tu imagen */
  background-size: cover; /* Cubre toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  opacity: 0.7; /* Controla la opacidad, siendo 0 totalmente transparente y 1 totalmente opaco */
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido del cuerpo */
}


.menu{
  width: 100%;
  text-align: center;
  justify-content: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #161A30;

}

.nav1{
  margin-left: 34%;
  margin-top: 1px;
  padding: 20px;
  color: rgb(240, 236, 229);
  text-decoration: none;
}
.nav1:hover{
  color: rgba(240, 236, 229,0.7);
}

.subtitulo{
  text-align: center;
  padding: 10px;
}

#h1{
    font-size: 1.9rem;
    color: rgb(240, 236, 229);
    text-decoration: none;
}
#h1:hover{
  color: rgba(240, 236, 229,0.7);
}

h2{
  color: black;
  padding: 10px;
}

#registro{
  
  z-index: 1;
}

.formregistro{
  padding: 1px;
  margin-left: 100px;
  width: 50%;
  /*background-color: rgba(240, 236, 229,0.6)*/
  opacity: 10;
  
}

form {
    background-color: white;
    width: 500px;
    padding: 2em;
    margin: 2em auto;
    border-radius: .2em;
    
  }

  fieldset {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 100%;
    border: none;
    margin-top: 1em;
    box-sizing: border-box;
    padding: 1em;
    
  }

  legend{
    font-size: 25px;
  }

  button{
    padding: 5px;
    margin-top: 60px;
    font-size: 16px;
    border-radius: 10px;
    width: 20%;
    cursor: pointer;
    background-color: #d3d2d1;
  }
  
  button:hover{
    background-color: rgba(240, 236, 229,0.7);
    color: rgb(0,0,0,0.7)
  }

  label{
    margin-top: 10px;
    
  }

  input{
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    border: solid .5px rgb(196, 192, 192);
    height: 30px;
  }


/* ---------------------------------------------------------------------------------- */
  /* Aca empieza el estilo del menu */


  ul, ol {
    list-style: none;
}

.nav1 li a {
    margin-top: 0px;
    background-color: #161a30;
    color: #fff;
    text-decoration: none;
    padding: 5px 25px;
    display: block;
}

.nav1 li {
    margin-top: 1px;
    padding: px;
}

.nav1 li a:hover {
    background-color: #434343;
}

.nav1 li:hover > ul {
    display: block;
}

.nav1 li ul li {
    position: relative;
}

.nav1 li ul li ul {
    right: -149px;
    top: 0px;
}

.nav1 > li {
    float: left;
}

.nav1 li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}