* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
body::-webkit-scrollbar {
  width: 20px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #B6BBC4;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #F0ECE5;    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
  border: 3px solid  #B6BBC4 ;  /* creates padding around scroll thumb */
}

.cabecera{
    display: flex;
    background-color: #31304D;
    justify-content: space-around;
    padding: 40px;
    align-items: center;
}
img{
  width: 20rem;
} 
#fotoMain{
  width: 100%;
  opacity: 40%;
}

main::before {
  content: ""; /* Añade contenido al pseudo-elemento */
  position: fixed; /* Establece posición fija para cubrir toda la ventana */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../image/radiografia.jpg"); /* Reemplaza 'nombre-de-tu-imagen.jpg' con el nombre de tu imagen */
  background-size: cover; /* Cubre toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  opacity: 0.7; /* Controla la opacidad, siendo 0 totalmente transparente y 1 totalmente opaco */
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido del cuerpo */
}


.menu{
  text-align: center;
  justify-content: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #161A30;

}

.nav1{
  padding: 20px;
  color: rgb(240, 236, 229);
  text-decoration: none;
}
.nav1:hover{
  color: rgba(240, 236, 229,0.7);
}

.subtitulo{
  padding: 10px;
}

#h1{
    font-size: 1.9rem;
    color: rgb(240, 236, 229);
    text-decoration: none;
}
#h1:hover{
  color: rgba(240, 236, 229,0.7);
}

h2{
  color: black;
  padding: 10px;
}

#registro{
  z-index: 1;
}

.formregistro{
  padding: 1px;
  background-color: rgba(240, 236, 229,0.6)
}

form {
    background-color: white;
    width: 500px;
    padding: 2em;
    margin: 2em auto;
    border-radius: .2em;
    
  }

  fieldset {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 100%;
    border: none;
    margin-top: 1em;
    box-sizing: border-box;
    padding: 1em;
    
  }

  button{
    padding: 5px;
    margin-top: 60px;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #F0ECE5;
  }
  button:hover{
    background-color: rgba(240, 236, 229,0.7);
    color: rgb(0,0,0,0.7)
  }

  label{
    margin-top: 30px;
    
  }

  input{
    margin-top: 10px;
    background-color: #F0ECE5;
    border-radius: 5px;
    border: solid 1px black;
    height: 20px;
  }
